* {
	outline: 1px solid red !important;
}


* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.image {
	max-width: 460px;	
	margin-right: 30px;
}
.description {
	max-width: 705px;
}

.app {
	display: -webkit-flex;
	/*add support for safari lolz*/
	display: flex; 
	/*display attribute = flex to align elements next to eachother*/
}